#gallery-wrapper
  @keyframes error-fade-out
    0%
      opacity: 1

    100%
      opacity: 0
      visibility: hidden

  .gallery-error-span
    position: absolute
    +calc(width, '100% - 240px')
    +calc(bottom, '15% + 20px')
    text-align: center
    color: #FF4136
    z-index: 100
    animation: error-fade-out 1.5s ease-in 1 forwards

  .gallery-item
    position: relative
    width: 100%
    height: 93%
    padding: 0 13%
    +box-sizing(border-box)

    .gallery-arrow
      position: absolute
      top: 40%
      z-index: 10

    #gallery-left-arrow
      left: 6%

    #gallery-right-arrow
      right: 6%

    .gallery-w-padding
      position: relative
      height: 100%
      width: 100%
      overflow: hidden
      box-shadow: 3px 3px 1px #C1C1C1
      border: 3px solid #919191
      background-color: #FFFFFF
      +box-sizing(border-box)
      +border-radius(3px)

      .gallery-header
        height: 30px
        width: 100%
        padding: 2px 10%
        +box-sizing(border-box)
        display: flex
        align-items: center
        justify-content: center
        //border-bottom: 1px solid #C1C1C1

      .gallery-slider
        +calc('height', '85% - 30px')
        overflow: hidden
        overflow-y: scroll

        .gallery-photo-area
          display: none
          position: relative
          height: 100%
          align-items: center
          justify-content: center
          background-color: #FFFFFF
          +box-sizing(border-box)

          ul
            position: absolute
            top: 2px
            //Gallery width queries
            @media screen and (max-width: 954px)
              width: 354.219px
            @media screen and (min-width: 955px) and (max-width: 1110px)
              width: 472.5px
            @media screen and (min-width: 1111px) and (max-width: 1261px)
              width: 590.125px
            @media screen and (min-width: 1262px) and (max-width: 1429px)
              width: 708.406px

            li
              display: inline-block
              margin: 2px
              +border-radius(5px)
              width: 114px

              a
                display: inline-block
                width: 100%

                img
                  width: 100%
                  +border-radius(5px)
                  +box-sizing(border-box)
                  border: 2px solid #C1C1C1

                  &:hover
                    border: 3px solid deepskyblue

      .gallery-date-area
        position: relative
        width: 100%
        +calc(height, '15% - 3px')
        +box-sizing(border-box)
        padding: 10px
        margin-top: 4px
        background-color: #FFFFFF
        display: flex
        flex-flow: row nowrap
        align-items: center
        justify-content: center

        .gallery-date-area-left
          display: flex
          flex-flow: column wrap
          align-items: center
          justify-content: center
          padding: 5px
          margin-right: 20px

          div
            width: 100%
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            margin: 1px

            label
              display: inline-block
              width: 50px
              float: left
              margin-right: 10px


            .datetimepicker
              width: 65%
              border: 1px solid #C1C1C1

            &:before
              content: ""
              height: 1px
              width: 90%
              position: absolute
              top: 0
              left: 5%
              background-color: #C1C1C1

//Vertical mobile styles
@media screen and (max-width: 550px)
  #gallery-wrapper

    .gallery-error-span
      left: 0
      width: 100%


    .gallery-item

      .gallery-w-padding

        .gallery-slider

          .gallery-photo-area

            ul
              width: 95%

              li
                width: 31%

        .gallery-date-area

          .gallery-date-area-left
            margin-right: 0

//Horizontal mobile styles
@media screen and (max-height: 450px)
  #gallery-wrapper

    .gallery-error-span

    .gallery-item
      height: 100%

      .gallery-w-padding

        .gallery-slider

          .gallery-photo-area

            ul
              width: 95%

              li
                width: 31%

        .gallery-date-area

          .gallery-date-area-left
            margin-right: 0

            label
              font-size: 80%

            input
              font-size: 80%