#performance-wrapper

  .performance-item
    position: relative
    width: 100%
    height: 93%
    padding: 0 13%
    +box-sizing(border-box)

    .performance-w-padding
      position: relative
      height: 100%
      width: 100%
      overflow: hidden
      box-shadow: 3px 3px 1px #C1C1C1
      border: 3px solid #919191
      background-color: #FFFFFF
      +box-sizing(border-box)
      +border-radius(3px)

      #performance-canvas
        width: 100%
        height: 90%

      .performance-footer
        position: relative
        width: 100%
        height: 10%
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: center

        &:before
          content: ""
          height: 1px
          width: 90%
          position: absolute
          top: 0
          left: 5%
          background-color: #C1C1C1
