body
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif

  nav

    #hostname
      color: black
      font-size: 1.6em
      font-weight: bold

    li
      a
        font-size: 1.3em
        color: #AAA
        font-weight: bold

        &:hover
          color: #777

      .nav-selected
        color: #444

        &:hover
          color: #444

    #footer-span
      font-size: 0.8em
      color: #CCC
