html, body

  .page-wrapper
    height: 100%

    .content-wrapper
      height: 100%
      margin-left: $navbarwidth

      .widget-wrapper
        height: 100%
        background-color: #F2F2F2
        padding: 10px 10px 60px 10px
        +box-sizing(border-box)
        overflow: auto

::-webkit-scrollbar
  display: none

//Vertical mobile styles
@media screen and (max-width: 550px)
  body
    .page-wrapper
      height: 85%
      .content-wrapper
        height: 100%
        margin-left: 0
        margin-top: 15vh

        .widget-wrapper
          margin-top: 15vh

//Horizontal mobile styles
@media screen and (max-height: 450px)
  body

    .page-wrapper

      .content-wrapper

        .widget-wrapper
          padding: 10px